body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-link {
  color: black;
  
}

.page-item.active .page-link {

  color: black;
  background-color: #a7aaad;
  border-color: #a7aaad;

  

}
.pagination li:focus {
  outline: #a7aaad auto 5px;
}
.page-link:focus {
  box-shadow: none;
}
.page-link:hover {
  color: black;
}
